.transactions_list_empty_content{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 300px;
}

.transactions_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
}